.settings
Debug
Drivers
Startup
.cproject
.mxproject
.project
mpu9250.ioc
STM32F103C8TX_FLASH.ld
mpu9250.elf.cfg
mpu9250.elf.launch


Inc/*
!Inc/mpu9250.h
!Inc/main.h

Src/*
!Src/mpu9250.c
!Src/main.c

Middlewares/*
