.settings
Debug
Drivers
Startup
.cproject
.mxproject
.project
i2c-bit-banging.ioc
STM32F103C8TX_FLASH.ld
i2c-bit-banging.elf.cfg
i2c-bit-banging.elf.launch

Inc/*
!Inc/i2c_bit_bang.h
!Inc/main.h

Src/*
!Src/i2c_bit_bang.c
!Src/main.c
